# --- Python General ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.mypy_cache/
.coverage
htmlcov/

# --- Environment Variables ---
.env
.env.*
!.env.example

# --- Docker & Database ---
postgres_data/
pgadmin_data/

# --- IDE & System ---
.vscode/
.idea/
.DS_Store

# --- Testing & Logs ---
.pytest_cache/
*.log
celerybeat-schedule

alembic.ini
pytest.ini
tests/
alembic/
backup_data.sql